footer
  color: colour-main-light
  text-align: center
  padding: 1em 0

  /** Better link colours */
  a
    &:hover
      color: colour-main-light

  /** Better positioning for the GitHub icon */
  .fa-github
    position: relative
    top: 1px
