html
  height: 100%
  // display: flex;
  // flex-direction: column;
  // justify-content: center;

body
  min-height: 100vh
  margin: 0
  font: 18px 'Source Sans Pro', Helvetica, Arial, sans-serif
  font-weight: 300
  color: colour-main-dark
  background: colour-main-dark
  // Flex:
  display: flex;
  flex-direction: column;
  align-items: stretch;

header
  padding-top: 2em

  h1
    background-position: left

a
  color: colour-compl-dark
  &.fa
    text-decoration: none
  &:hover
    color: colour-main-dark

iframe
  border: none

ul
  list-style-type: none
  margin: 0
  padding: 0

textarea,
input
  outline: none


/**
 * Normaliser replacements
 */
h1,
h2
  margin-top: 0

h2
  font-size: 2em
  margin-bottom: 0.5em

ol
  margin: 0

/**
 * Utils
 */
.framer
  width: 1000px
  margin: 0 auto

  @media (max-width: 1000px)
    width: 700px

  @media (max-width: 700px)
    width: 420px

.content
  background: colour-main-light
  display: flex
  flex-grow: 2
  flex-direction: column
