html,
body
  height: 100%

body
  padding: 0 50px
  margin: 0
  font: 18px 'Source Sans Pro', Helvetica, Arial, sans-serif
  font-weight: 300
  colour: colour-main-dark
  background: colour-main-dark

a
  color: colour-compl-dark

iframe
  border: none

ul
  list-style-type: none
  margin: 0
  padding: 0
