/**
 *  ____    ____
 *  `MM'    `MM'
 *   MM      MM
 *   MM      MM   _____   ___  __    __     ____
 *   MM      MM  6MMMMMb  `MM 6MMb  6MMb   6MMMMb
 *   MMMMMMMMMM 6M'   `Mb  MM69 `MM69 `Mb 6M'  `Mb
 *   MM      MM MM     MM  MM'   MM'   MM MM    MM
 *   MM      MM MM     MM  MM    MM    MM MMMMMMMM
 *   MM      MM MM     MM  MM    MM    MM MM
 *   MM      MM YM.   ,M9  MM    MM    MM YM    d9
 *  _MM_    _MM_ YMMMMM9  _MM_  _MM_  _MM_ YMMMM9
 * Home
 */

.home,
& form
  text-align: center

.home
  font-size: 2em
  color: colour-main-light
  background: colour-main-dark
  display: flex
  flex-grow: 2
  flex-direction: column
  justify-content: center

  h1
    margin-bottom: 0
    background-position: center

  p
    color: colour-neutral
    font-size: 0.75em

  .form-search
    margin-bottom: 3em
