/**
 * Profile page of an artist/band.
 */
.profile
  max-width: 800px
  margin: 0 auto

  /**
   * Main sections: media & info.
   */
  .section-media,
  .section-info
    width: 50%
    float: left

  .section-info
    padding-left: 20px

  /**
   * Subsections.
   */
  .cover
    width: 100%
    float: left
    margin: 0 1em 1em 0

  .links
    text-transform: capitalize

    li
      list-style-type: none
