/**
 *    ____                                       ___
 *   6MMMMb\                                     `MM
 *  6M'    `                                      MM
 *  MM         ____      ___    ___  __   ____    MM  __
 *  YM.       6MMMMb   6MMMMb   `MM 6MM  6MMMMb.  MM 6MMb
 *   YMMMMb  6M'  `Mb 8M'  `Mb   MM69 " 6M'   Mb  MMM9 `Mb
 *       `Mb MM    MM     ,oMM   MM'    MM    `'  MM'   MM
 *        MM MMMMMMMM ,6MM9'MM   MM     MM        MM    MM
 *        MM MM       MM'   MM   MM     MM        MM    MM
 *  L    ,M9 YM    d9 MM.  ,MM   MM     YM.   d9  MM    MM
 *  MYMMMM9   YMMMM9  `YMMM9'Yb._MM_     YMMMM9  _MM_  _MM_
 *
 * Search page
 */

.wrapper-search
  padding: 1em

  h2
    color: colour-compl-dark

  span
    color: colour-main-dark

  /** Modifiers */
  &.empty
    display: flex
    text-align: center
    flex-direction: column
    justify-content: center
    flex-grow: 2

