/**
 * Global variables: colours, dimensions, etc.
 */

/**
 * Colours
 * http://app.coolors.co/333333-95afba-bdc4a7-d5e1a3-eeeeee
 */
colour-main-dark   = #333
colour-main-light  = #fff
colour-compl-dark  = #95afba
colour-compl-light = #d5e1a3
colour-compl-light = #d5e1a3
colour-neutral     = #bdc4a7
