footer.framer
  | Written by&nbsp;
  a(href="https://twitter.com/gnclmorais" title="@gnclmorais") gnclmorais
  | &nbsp;@&nbsp;
  a(href="https://www.recurse.com/" title="Recurse Center") Recurse Center
  | &nbsp; ~&nbsp;
  | Code available at&nbsp;
  a(href="https://github.com/gnclmorais/music-gist" title="GitHub")
    i.fa.fa-github
