extends layout

block scripts

block content
  .home
    h1= title
    p Search for an artist or band you don&lsquo; know
      | and you&lsquo;ll get the gist of it.

    form(name="search", action="/search", method="post")
        input(type="text"
              name="artist"
              placeholder="Band or artist"
              class="write"
              autofocus)
        input(type="submit", value="search", class="submit")
