extends layout

block scripts

block content
  h1= title
  p Welcome to #{title}

  form(name="search", action="/search", method="post")
      input(type="text", name="artist", autofocus)
      input(type="submit", value="search")
