extends layout

block scripts

block header
  header.framer
    h1 Music Gist

block content
  .home
    h1.main-title.white= title
    p Search for an artist or band you don&rsquo;t know
      | <br>
      | and you&rsquo;ll get the gist of it.

    include ./includes/search.jade
