doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700')
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='search'
         type='application/opensearchdescription+xml'
         href='/opensearch.xml'
         title='Music Gist search')

  body
    block header
    .content.framer
      block content

    include ./includes/footer.jade

    script(src='/javascripts/analytics.js')
    block scripts
