html,
body {
  height: 100%;
}
body {
  margin: 0;
  font: 18px 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #333;
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
header {
  padding-top: 2em;
}
header h1 {
  background-position: left;
}
a {
  color: #95afba;
}
a.fa {
  text-decoration: none;
}
a:hover {
  color: #333;
}
iframe {
  border: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
textarea,
input {
  outline: none;
}
h1,
h2 {
  margin-top: 0;
}
.framer {
  width: 800px;
  margin: 0 auto;
}
.content {
  background: #fff;
  display: flex;
  flex-grow: 2;
  flex-direction: column;
}
.main-title {
  height: 1em;
  color: transparent;
  background-image: url("/images/music-gist-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.main-title.white {
  background-image: url("/images/music-gist-logo-white.svg");
}
.label {
  float: left;
  color: #fff;
  background: #95afba;
  padding: 0 5px 3px;
  margin: 0 5px 5px 0;
  border-radius: 2px;
}
.tabs {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
/** Media links (icons) */
/** Singular tabs */
}
.tabs a {
  padding: 5px 10px;
  color: #fff;
}
.tabs li {
  background: #95afba;
}
.tabs li.active {
  background: #333;
}
.tabs li:not(.active):hover a {
  color: #333;
}
.tab-content > * {
  display: none;
}
.tab-content .active {
  display: block;
}
.form-search {
  color: #333;
}
.form-search:hover .write,
.form-search:active .write {
  border: 1px solid #d5e1a3;
}
.form-search:hover .search,
.form-search:active .search {
  background-color: #d5e1a3;
}
.form-search .write,
.form-search .search {
  height: 2em;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.form-search .write {
  min-width: 15em;
  padding: 0 10px;
  border: 1px solid #bdc4a7;
  transition: border 0.3s ease;
}
.form-search .search {
  width: 2em;
  background: #bdc4a7;
  transition: background-color 0.3s ease;
}
.home,
form {
  text-align: center;
}
.home {
  font-size: 2em;
  color: #fff;
  background: #333;
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  justify-content: center;
}
.home h1 {
  margin-bottom: 0;
  background-position: center;
}
.home p {
  color: #bdc4a7;
  font-size: 0.75em;
}
.home .form-search {
  margin-bottom: 3em;
}
.profile {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
/**
   * Main sections: media & info.
   */
/** Main title */
/** Country of origin */
/**
   * Subsections.
   */
/**
   * Players
   */
/**
   * Responsive YouTube videos as found on:
   * http://avexdesigns.com/responsive-youtube-embed/
   */
}
.profile .section-media,
.profile .section-info {
  flex-grow: 1;
}
.profile .section-media {
  padding-right: 10px;
}
.profile .section-info {
  padding: 10px;
  flex-shrink: 2;
}
.profile .main-title .fa-user,
.profile .main-title .fa-users {
  font-size: 75%;
  padding-left: 10px;
  opacity: 0.75;
  color: #95afba;
}
.profile .origin img {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.profile .cover {
  width: 100%;
  float: left;
  margin: 0 1em 1em 0;
}
.profile .tags {
  overflow: hidden;
}
.profile .links {
  text-transform: capitalize;
}
.profile .links ul {
  -webkit-column-gap: 10px;
  -webkit-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-count: 3;
  column-gap: 10px;
  column-count: 3;
}
.profile .links li {
  list-style-type: none;
}
.profile .links i {
  width: 15px;
  font-size: 75%;
  text-align: center;
  margin-right: 3px;
}
.profile .players .soundcloud iframe {
  width: 100%;
}
.profile .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.profile .video-container iframe,
.profile .video-container object,
.profile .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
header h1 {
  float: left;
}
header .form-search {
  float: right;
}
