body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
iframe {
  border: none;
}
.profile {
  max-width: 800px;
  margin: 0 auto;
/**
   * Main sections: media & info.
   */
/**
   * Subsections.
   */
}
.profile .section-media,
.profile .section-info {
  width: 50%;
  float: left;
}
.profile .section-info {
  padding-left: 20px;
}
.profile .cover {
  width: 100%;
  float: left;
  margin: 0 1em 1em 0;
}
.profile .links {
  text-transform: capitalize;
}
.profile .links li {
  list-style-type: none;
}
